<%- include('header') %>
<%- include('menu') %>

<div class="col-md-4">
    <form method="POST" class="input-group text-center">
        <input class="form-control" id="inputSearch" type="text" name="keyword">
        <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Search"/>
        </span>
    </form>
    <hr />
</div>

<%- include('footer') %>