#menubar.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#menubar.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 1px;
    border-bottom-color: rgba(237,237,237,1);
}
#menubar.navbar-default .navbar-nav>li>a {
    color: rgba(237, 237, 237, 1);
    background-color: rgba(0, 0, 0, 1);
}
#menubar.navbar-default .navbar-nav>li>a:hover,
#menubar.navbar-default .navbar-nav>li>a:focus {
    color: rgba(115, 115, 115, 1);
    background-color: rgba(0, 0, 0, 1);
}
#menubar.navbar-default .navbar-nav>.active>a,
#menubar.navbar-default .navbar-nav>.active>a:hover,
#menubar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(237, 237, 237, 1);
}
#menubar.navbar-default .navbar-toggle {
    border-color: #ededed;
}
#menubar.navbar-default .navbar-toggle:hover,
#menubar.navbar-default .navbar-toggle:focus {
    background-color: #ededed;
}
#menubar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ededed;
}
#menubar.navbar-default .navbar-toggle:hover .icon-bar,
#menubar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
